x-base: &base
  restart: unless-stopped
  extra_hosts:
    # this allows containers to call a port on the docker host machine
    # instead of localhost (because that will be container) use host.docker.internal
    # to resolve the docker host IP dynamically
    host.docker.internal: host-gateway
  logging:
    options:
      mode: non-blocking
      max-size: "10m"
      max-file: "3"


services:
  sidecar:
    <<: *base
    build:
      context: ../../
      dockerfile: apps/python/sidecar/Dockerfile
    image: pokt_ml_sidecar:dev
    deploy:
      replicas: 1
    environment:
      CONFIG_PATH: /home/app/configs/config.json
      HF_TOKEN: $HF_TOKEN
    volumes:
      - $SIDECAR_CONFIG_FILE:/home/app/configs/config.json
      - $SIDECAR_TOKENIZER_FILE:/tokenizer/
    ports:
      - "9900:8000"

  poncho:
    <<: *base
    build:
      context: ../../
      dockerfile: apps/rust/poncho/Dockerfile
    image: pokt_ml_poncho:dev
    deploy:
      replicas: 1
    environment:
      CONFIG_PATH: /config/config.yaml
    volumes:
      - $PONCHO_CONFIG_FILE:/config/config.yaml
    ports:
      - "9901:8080"

